html, body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
}

/* Typography and Icons */
header{
    color: white;
}

h1 {
    font-weight: 100;
    line-height: 24px;
    font-size: 39px;
}

h2 {
    font-weight: 100;
    font-size: 22px;
    line-height: 14px;
}

.item-emoji {
    font-family: 'Inter';
    font-size: 80px;
    margin-bottom: 50px;
}

.item-name, .order-item-name, .order-title {
    font-size: 28px;
    margin-bottom: 0;
}

.item-ingredients {
    color: #8B8B8B;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-price, .order-item-price {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
}

.add-item-btn {
    border: solid 1.5px #DEDEDE;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.add-item-btn p {
    font-family: 'Inter';
    font-size: 32px;
    margin: 0;
}

.order-title {
    text-align: center;
    margin-bottom: 45px;
}

.order-item-remove-btn {
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: 400;
    color: #BBBBBB;
}

.order-total-label {
    font-size: 28px;
}

.order-total {
    font-size: 20px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
}

.card-payment-form h2 {
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

input {
    font-family: 'Verdana';
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.order-complete-message h2 {
    font-size: 32px;
    color: #065F46;
    text-align: center;
}

/* Layout */
main, header{
    width: 600px;
    margin: 0 auto;
}

main {
    margin-bottom: 3em;
    position: relative;
}

header {
    background-image: url('images/burger-banner.png');
    background-size: cover;
    background-position: center;
    padding: 45px;
}

#menu-container {
    margin-bottom: 45px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #D2D2D2 1.5px;
}

.item-info-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.item-emoji {
    margin-top: 50px;
}

.order-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
}

#order-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: solid #393333 2px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.order-item-remove-btn {
    margin-bottom: 8px;
}

.order-item-remove-btn:hover {
    color: #F8312F;
    cursor: pointer;
}

button {
    background-color: #16DB99;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}

button:hover {
    background-color: #208c68;
    cursor: pointer;
}

#card-payment-modal {
    background-color: white;
    display: none; /* Change to flex in JS*/
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
}

.card-payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 525px;
    border-radius: 5px;
    --webkit-box-shadow: 0 0 100px grey;
    box-shadow: 0 0 100px grey;
    padding: 25px;
}

.card-payment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-payment-form h2 {
    margin-bottom: 45px;
    margin-top: 45px;
}

input {
    width: 475px;
    height: 70px;
    margin-bottom: 40px;
    padding-left: 25px;
    border: solid #757575 2px;
    border-radius: 5px;
}

/* Remove arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-payment-container button {
    width: 475px;
}

.order-complete-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 120px;
    background-color: #ECFDF5;
    margin-left: auto;
    margin-right: auto;
}

/* Textarea + Buttons */
.add-item-btn:hover {
    background-color: #8B8B8B;
    cursor: pointer;
}

.add-item-btn p:hover {
    color: white;
}