html, body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
}

/* Typography and Icons */
header{
    color: white;
}

h1 {
    font-weight: 100;
    line-height: 24px;
    font-size: 39px;
}

h2 {
    font-weight: 100;
    font-size: 22px;
    line-height: 14px;
}

.item-emoji {
    font-size: 80px;
    margin-bottom: 50px;
}

.item-name {
    font-size: 28px;
    margin-bottom: 0;
}

.item-ingredients {
    color: #8B8B8B;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-price {
    font-size: 20px;
    margin-top: 0;
}

.add-item-btn {
    border: solid 1.5px #DEDEDE;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.add-item-btn p {
    font-family: 'Inter';
    font-size: 32px;
    margin: 0;
}

/* Layout */
main, header{
    width: 600px;
    margin: 0 auto;
}


header {
    background-image: url('images/burger-banner.png');
    background-size: cover;
    background-position: center;
    padding: 45px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #D2D2D2 1.5px;
}

.item-info-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.item-emoji {
    margin-top: 50px;
}

/* Textarea + Buttons */


